################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineShoppingApp/.vs/OnlineShoppingApp
/OnlineShoppingApp/bin/Debug/netcoreapp3.1
/OnlineShoppingApp/obj
